<script lang="ts">
  import type { Bird } from "./game";
  export let bird: Bird;
</script>

<section
  id="bird"
  style="width: {bird.size}px; height:{bird.size}px; 
    top: {bird.top}px; left: {bird.left}px;"
>
  &nbsp;&lt;
</section>

<style>
  #bird {
    border: solid darkgoldenrod 3px;
    background: linear-gradient(
      45deg,
      darkgoldenrod 0%,
      yellow 35%,
      yellow 100%
    );
    color: darkgoldenrod;
    position: absolute;
  }
</style>
