<script lang="ts">
  import { GameController } from "./game";
  import Bird from "./Bird.svelte";
  import Pipe from "./Pipe.svelte";
  import Ground from "./Ground.svelte";
  import StartButton from "./StartButton.svelte";
  import Score from "./Score.svelte";
  const game = new GameController();

  let frame = game.newGame();

  // 90 fps?
  setInterval(() => {
    frame = game.nextFrame();
  }, 1000 / 90);

  function jump() {
    game.jump();
  }
</script>

<main style="width: {frame.width}px; height: {frame.height}px;" class="game">
  <Pipe pipe={frame.firstPipe} />
  <Pipe pipe={frame.secondPipe} />
  <Ground ground={frame.ground} />
  <Bird bird={frame.bird} />
  <StartButton {frame} {game} />
  <Score score={frame.score} />
</main>

<svelte:window on:click={jump} />

<style>
  main {
    position: relative;
    border: solid black 1px;
    overflow: hidden;
    background-color: lightblue;
  }
</style>
