<script lang="ts">
  import type { Ground } from "./game";
  export let ground: Ground;
</script>

<section id="ground" style="height: {ground.height}px;" />

<style>
  #ground {
    background: linear-gradient(0deg, brown 0%, darkgoldenrod 35%, tan 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
</style>
