<script lang="ts">
  import type { PipePair } from "./game";
  export let pipe: PipePair;
</script>

{#if pipe.show}
  <section
    style="left: {pipe.left}px; width: {pipe.width}px;
        top:{pipe.topPipe.top - 1}px; height: {pipe.topPipe.height}px;"
    class="top-pipe pipe"
  />
  <section
    style="left: {pipe.left}px; width: {pipe.width}px;
        top:{pipe.bottomPipe.top}px; height: {pipe.bottomPipe.height}px;"
    class="bottom-pipe pipe"
  />
{/if}

<style>
  .pipe {
    position: absolute;
    background: linear-gradient(
      90deg,
      darkolivegreen 0%,
      palegreen 30%,
      palegreen 60%,
      darkolivegreen 100%
    );
    border-left: solid darkolivegreen 3px;
    border-right: solid darkolivegreen 3px;
  }

  .top-pipe {
    border-bottom: solid darkolivegreen 3px;
  }
  .bottom-pipe {
    border-top: solid darkolivegreen 3px;
  }
</style>
