<script lang="ts">
  export let score: number;
</script>

<section id="score">{score}</section>

<style>
  #score {
    border: solid black 1px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    padding: 5px;
    font-family: cursive;
    background-color: white;
    user-select: none;
  }
</style>
