<script lang="ts">
  import type { Frame, GameController } from "./game";
  export let frame: Frame;
  export let game: GameController;

  function startGame() {
    frame = game.start();
  }
</script>

{#if frame.gameOver || !frame.gameStarted}
  <section id="init-screen">
    <button on:click={startGame}>Start Game</button>
  </section>
{/if}

<style>
  #init-screen {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: monospace;
  }

  #init-screen button {
    font-family: monospace;
    font-size: 16px;
    border: solid black 1px;
    border-radius: none;
    background-color: ghostwhite;
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.2s font-size;
    display: block;
    margin: 0 auto;
  }

  #init-screen button:active,
  #init-screen button:focus {
    outline: none;
    font-size: 15px;
  }
</style>
